a {
    @include ease;

    &:hover {
        opacity: 0.8;
    }
}

.a-button {
    @include dark-frame;
    padding: 4px 16px;
    min-height: 55px;
    line-height: 1.2;
    font-size: 16px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    @include ease;

    &::after {
        content: ">";
        margin-left: auto;
    }

    &:hover {
        @include dark-frame-hover;
    }
}

a {
    .a-button {
        transition-duration: 0;
    }
    &:hover {
        .a-button:hover {
            opacity: 1;
            background-color: #333;
        }
    }
}

button,
[type="submit"],
[type="clear"],
[type="reset"] {
    @extend .a-button !optional;
}
