a {
    @include ease;

    &:hover,
    &:focus {
        opacity: 0.8;
    }
}

.a-button {
    @include dark-frame;
    padding: 4px 16px;
    min-height: 55px;
    line-height: 1.2;
    font-size: 16px;
    text-align: left;
    display: inline-flex;
    align-items: center;
    @include ease;

    &::after {
        content: ">";
        margin-left: auto;
    }

    &:hover,
    &:focus,
    &:active {
        @include dark-frame-hover;
    }
}

a {
    .a-button {
        transition-duration: 0;
    }
    &:hover,
    &:focus {
        .a-button:hover {
            opacity: 1;
            background-color: #333;
        }
    }
}

button:not(.f-images),
[type="submit"],
[type="clear"],
[type="reset"] {
    @extend .a-button !optional;
}

.f-images {
    width: 100%;
    position: relative;
    &-list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }
    &-item {
        flex: 1;
    }
    &:hover,
    &:focus {
        box-shadow: none;
        .a-button {
            @include dark-frame-hover;
        }
    }
}

.a-icon {
    padding: 10px;
    display: inline-flex;
}

.n-main {
    a {
        @extend .a-icon;
    }
    li.current-menu-item {
        > a {
            font-weight: bold;
        }
    }
}