.m-section {
    .a-button {
        width: 100%;
    }
}

.f-copy.has-overlay {
    position: relative;
    .f-copy-overlays {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        span {
            flex: 1;
            height: 100%;
            cursor: pointer;
        }
    }
}
