.m-section {
    .a-button {
        width: 100%;
    }
}

.f-copy.has-overlay {
    position: relative;
    .f-copy-overlays {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        span {
            display: none;
        }
    }
    &:hover {
        .f-copy-title {
            display: none;
        }
        .f-copy-overlays {
            display: flex;
            align-items: center;
        }
    }
}
