.c-alert {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    height: 160px;
    font-size: 35px;
    border-radius: 12px;
    font-family: monospace;
    color: #777;
    transition: all 0.1s ease-out;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(25px) scale(0.95);
    perspective: 500px;
    opacity: 0;
    pointer-events: none;
    
    span {
        font-size: 16px;
        margin-top: 7px;
    }

    &.is-active {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }

    &.is-out {
        transform: translateY(-25px) scale(0.95);
        opacity: 0;
    }
}
