$font-1: "Roboto Mono";

:root {
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: -0.8px;
    font-family: $font-1, $font-fallback;
    font-weight: 400;
    @include color-text;
}

.p {
    @extend :root;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}
