$font-1: "JetBrains Mono";

:root {
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: -0.8px;
    font-family: $font-1, $font-fallback;
    font-weight: 400;
    @include color-text;
}

.p {
    @extend :root;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

.type-content {
    @include vgap(12px);
    ul {
        list-style: none;
        @include vgap(10px);
        > li {
            display: flex;
            &::before {
                content: "->";
                margin-right: 8px;
                flex: 0 0 auto;
            }
        }
    }
}